In [1]:
#Q1. Read this dataset in pandas,mysql and mongodb

In [ ]:
# read dataset in pandas

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('FitBit data.csv')

In [50]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Total Active Minutes
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,250
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,380
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,329
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,283
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,299

In [ ]:
# # While creating a data in mysql don't use manual approach to create it, always use a automation to create a table in mysql

In [53]:
import mysql.connector as conn

mydb  = conn.connect(host = "localhost",user = "root",passwd = "data@scientist21#*",database="FitBit1_track")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D038035B20>

In [56]:
data = pd.read_sql_query("""select * from Fitbit_Data""",mydb)

C:\Users\Sonali Thakur\Documents\Python Scripts\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [57]:
data.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1.503960e+09,None,17609.0,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89.0,17.0,274.0,588.0,2154.0
1,1.503960e+09,None,12736.0,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56.0,5.0,268.0,605.0,1944.0
2,1.503960e+09,None,12736.0,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56.0,5.0,268.0,605.0,1944.0
3,1.503960e+09,None,13231.0,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39.0,20.0,224.0,1080.0,1932.0
4,1.503960e+09,None,12041.0,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28.0,28.0,243.0,763.0,1886.0

In [ ]:
# read data from mongodb

In [3]:
import pymongo as pymongo

In [4]:

client = pymongo.MongoClient("mongodb+srv://Sonali:datascientist@cluster0.u4r6hcl.mongodb.net/?retryWrites=true&w=majority")
database = client['csvconverter']
collection = database['data']
x = collection.find()
for data in x:
    print(x)

<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>
<pymongo.cursor.Cursor object at 0x000001D03161FDF0>

In [9]:
# Convert all the data available in dataset to timestamp format in pandas and in sql convert it into date format

In [10]:
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])

In [13]:
type(df['ActivityDate'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [15]:
# Find out in this data how many unique id we have

In [17]:
df['Id'].nunique()

35

In [18]:
# Which id is one of the most active id that you have in whole dataset

In [25]:
df.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

In [26]:
# How many of them have not logged there activity find out in terms of number of ids

In [28]:
df.groupby('Id')['LoggedActivitiesDistance'].sum()<1

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912     True
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

In [29]:
# Find out who is the laziest person id that we have in the dataset

In [30]:
df.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

In [31]:
#  Explore over an internet that how much calories burnt is required for a healthy person and find out how many healthy person 
#  we have in our dataset (2200 calories/day)

In [38]:
df.groupby('Id')['Calories'].sum().apply(lambda x:x>2200*7).value_counts()

True     34
False     1
Name: Calories, dtype: int64

In [39]:
# How many persons are not a regular with respect to activit try to find out those

In [41]:
df[df['TotalSteps']==0]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Total Active Minutes
51,1844505072,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,669,1347,0
52,1844505072,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347,0
59,1844505072,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,426,399,0
96,2320127002,2016-04-01,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324,0
97,2320127002,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,8253242879,2016-04-02,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,0
403,8253242879,2016-04-03,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,0
404,8253242879,2016-04-04,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,0
405,8253242879,2016-04-05,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429,0
412,8253242879,2016-04-12,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0,0

In [42]:
# Who is the third most active person in this dataset find out those in pandas

In [43]:
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending=False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

In [44]:
# Who is the fifth most laziest person available in dataset find it out

In [45]:
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values()[4:5]

Id
6117666160    5
Name: VeryActiveMinutes, dtype: int64

In [46]:
# What is the total cummulative calories burn for a perso find out

In [47]:
df.groupby('Id')["Calories"].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64